@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f7fafd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  background-color: white;
  padding: 25px;
  margin: 40px;
  border-radius: 20px;
  max-width: 60%;
  -webkit-box-shadow: 5px 4px 17px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 4px 17px 2px rgba(0, 0, 0, 0.1);
}

.not-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1c202b;
  margin-bottom: 12px;
}

.not-title span {
  background-color: #0a317b;
  color: white;
  border-radius: 5px;
  padding: 0px 6px 0px 6px;
  margin-left: 3px;
  font-size: 12px;
}

.not-title .p1 {
  font-weight: 800;
}

.not-title .p1:hover {
  cursor: pointer;
  color: #0a317b;
}

.not-title .p2 {
  font-size: 13px;
  color: #939dae;
}

.not-title .p2:hover {
  cursor: pointer;
  color: #0a317b;
}

.unread {
  -webkit-box-shadow: 5px 4px 17px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 4px 17px 2px rgba(0, 0, 0, 0.1);
  background-color: #f7fafd;
}

.prof-blue {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 12px;
}

.prof-blue p {
  margin-left: 15px;
  word-spacing: 3px;
  line-height: 1.5rem;
}

.prof-blue p .span1 {
  font-weight: 800;
  color: #1c202b;
  text-decoration: none;
}

.prof-blue p .span1:hover {
  cursor: pointer;
  color: #0a317b;
}

.prof-blue p .span2 {
  color: #939dae;
}

.prof-blue p .span3 {
  font-weight: 800;
  color: #5e6778;
  text-decoration: none;
}

.prof-blue p .span3:hover {
  cursor: pointer;
  color: #0a317b;
}

.prof-blue p .span4 {
  background-color: #f65351;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.prof-blue p .span5 {
  font-weight: 800;
  color: #5e6778;
  text-decoration: none;
}

.prof-blue p .span5:hover {
  cursor: pointer;
  color: #0a317b;
}

.chess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chess p {
  margin-right: 8rem;
}

.prof-white {
  background-color: white;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 12px;
}

.prof-white p {
  margin-left: 15px;
  word-spacing: 3px;
  line-height: 1.5rem;
}

.prof-white p .span1 {
  font-weight: 800;
  color: #1c202b;
  text-decoration: none;
}

.prof-white p .span1:hover {
  cursor: pointer;
  color: #0a317b;
}

.prof-white p .span2 {
  color: #939dae;
}

.prof-white p .span3 {
  font-weight: 800;
  color: #5e6778;
  text-decoration: none;
}

.prof-white p .span3:hover {
  cursor: pointer;
  color: #0a317b;
}

.prof-white p .span5 {
  font-weight: 800;
  color: #5e6778;
  text-decoration: none;
}

.prof-white p .span5:hover {
  cursor: pointer;
  color: #0a317b;
}

.prof-white .span6 {
  cursor: pointer;
}

.message {
  color: #5e6778;
  max-width: 75%;
  border: 1px solid #939dae;
  margin-left: 110px;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.message:hover {
  cursor: pointer;
  background-color: #dde7ee;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    border-radius: 0;
    margin: auto;
  }
  img {
    max-width: 20%;
  }
  .chess p {
    margin-right: 0;
  }
  .span6 {
    max-width: 15%;
  }
  .attribution {
    display: none;
  }
}
